*{
   margin: 0;
   overflow: hidden;
    
   box-sizing: border-box;
}
body{

    background-color: #121221;
    overflow: hidden;
    display: flex;
    justify-content: center;
    /* text-align: center; */
    
}

.calculator{
    background-color:#5a5555;
    overflow: hidden;
    height: 75vh;
    border-radius: 10px;
    width: 42vh;
    margin-top: 60px;
    margin-left: 80px;
    text-align: center;
}


#input{
    background-color:#5a5555;
     margin-bottom: 20px;
     margin-top: 10px;
     width: 95%;
     height: 70px;
     color: white;
     font-size: 2em;
     text-align:right;
     border: none;
    
    }
#input2{
    background-color:#5a5555;
     width: 95%;
     margin-bottom: 20px;
     height: 60px;
     box-shadow: none;
     color: rgb(199, 192, 192);
     font-size: 2em;
     text-align:right;
     border: none;
    
    }
     




.btn{
     width: 50px;   
     height: 50px;
     margin: 4px;
     font-size: 20px;
     border-radius: 50%;
     border-style: none;
}

.btn:hover{
    background-color: #a0a0a5;
}




